<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.UserDao" >
  
  <resultMap id="resultMap" type="com.cn.bean.User" >
	    <result column="id" property="id" jdbcType="CHAR" />
	    <result column="name" property="name" jdbcType="CHAR" />
  </resultMap>
<!--添加--> 
 <insert id="insertSelective"  parameterType="com.cn.bean.User">
 insert into user(id,name) values(#{id,jdbcType=CHAR},#{name,jdbcType=VARCHAR})
 </insert>
<!--查询-->
 <select id="selectByPrimaryKey"  resultMap="resultMap">
 	select * from user where id=#{id}
 </select>
<!--删除-->
 <select id="deleteByPrimaryKey"  resultMap="resultMap">
 	delete   from user where id=#{id}
 </select>
</mapper>